.checked {
  color: orange;
}

#product-data-container {
  width: 70%;
  display: grid;
  grid-template-columns: 30% 1fr;
  border: solid 4px red;
}

#product-currency {
  display: inline-block;
}

img {
  width: 100%;
}

.product-images {
  border: solid 4px teal;
  width: 100%;
}

.product-textual-data {
  border: solid 4px red;
}

.price-and-buy-button {
  border: solid 4px blue;
  text-align: center;
}

#cost {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
