main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PRODUCT INFO */
#product-data-container {
  margin-top: 30px;
  width: 70%;
  display: grid;
  grid-template-columns: 10% 50% 1fr;
  /* border: solid 4px black; */
  aspect-ratio: 100 / 43;
}

/* Images */
.product-image {
  border: solid 1px rgb(168, 168, 168);
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-bottom: 5px;
  border-radius: 3px;
}

.product-image:hover {
  border: solid 1px #0b5ed7;
}

#main-product-image-container {
  aspect-ratio: 1/1 !important;
}

/* Textual */
.product-textual-data {
  aspect-ratio: 1/1 !important;
}

.price-and-buy-button-container {
  display: flex;
  align-items: center;
}

#product-currency {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  flex: 1;
  text-align: right;
  font-size: normal;
}

#product-cost {
  display: inline-block;
  margin: 0px;
  padding-left: 5px;
  flex: 1;
  text-align: left;
  font-size: large;
}

#buy-button {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 20%;
  height: 30px;
  background-color: #0b5ed7;
  border: none;
  color: white;
  border-radius: 3px;
  flex: 1;
  margin-right: 30px;
  min-width: 70px;
}

/* COMMENT INPUT */
.comment-input-heading {
  font-size: medium;
  text-align: left;
}

#comment-input-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#comment-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.comment-input-text-box {
  display: flex;
  margin-bottom: 30px;
  margin-top: 3px;
}

#comment-input {
  flex: 1;
  margin-right: -5px;
  border: solid 1px #0b5ed7;
  border-radius: 3px;
  height: 40px;
  padding-left: 15px;
}

#comment-input::placeholder {
  color: rgb(189, 189, 189);
  text-align: left !important;
}

#comment-button {
  width: 20%;
  background-color: #0b5ed7;
  border: none;
  color: white;
  border-radius: 3px;
}

/* COMMENTS */
#comments-container {
  width: 70%;
  margin-bottom: 10%;
}

.comment-date {
  font-size: small;
  color: gray;
  margin: 0px;
  display: inline-block;
}

.comment-input-stars {
  margin-right: 10px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.comment-input-star {
  padding: 2px;
}

.checked {
  color: orange;
}

/* RELATED PRODUCTS */
#related-products-section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#related-products-container {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

#related-products-section-heading {
  padding: 0px;
  margin: 0px 0px 10px 0px;
  font-size: medium;
}

.related-product {
  width: 80px;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

.realted-product-name-container {
  display: flex;
  align-items: baseline;
  flex: 1;
}

.related-product-name {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: xx-small;
}

.related-product-image {
  aspect-ratio: 1/1 !important;
  object-fit: contain;
  width: 100%;
  border: solid 1px rgb(168, 168, 168);
  border-radius: 3px;
  margin-top: 3px;
}

.related-product-image:hover {
  border: solid 1px #0b5ed7;
}

/* Carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}
