/* GENERAL */
body {
  background-color: f8f9fa;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* PRODUCT INFO */
#product-data-container {
  width: 70%;
  display: flex;
  flex: 10% 10% 1;
  border: solid 4px black;
}

/* Textual */
.product-textual-data {
  border: solid 4px red;
}

.price-and-buy-button {
  border: solid 4px blue;
}

#product-currency {
  display: inline-block;
}

#cost {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

#buy-button {
  width: 20%;
  height: 40px;
  background-color: #0b5ed7;
  border: none;
  color: white;
  border-radius: 3px;
}

/* Images */

#product-images-container {
  background-color: purple;
}

#x {
  height: 100% !important;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

#main-product-image-container {
  background-color: greenyellow;
  width: 100px;
}

/* COMMENT INPUT */
.comment-input-heading {
  text-align: left;
}

#comment-input-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#comment-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.comment-input-text-box {
  display: flex;
  margin-bottom: 30px;
  margin-top: 3px;
}

#comment-input {
  flex: 1;
  margin-right: -5px;
  border: solid 1px #0b5ed7;
  border-radius: 3px;
  height: 40px;
}

#comment-input::placeholder {
  color: rgb(189, 189, 189);
  padding-left: 7px;
}

#comment-button {
  width: 20%;
  background-color: #0b5ed7;
  border: none;
  color: white;
  border-radius: 3px;
}

/* COMMENTS */
#comments-container {
  width: 70%;
  margin-bottom: 10%;
}

.comment-date {
  font-size: small;
  color: gray;
  margin: 0px;
  display: inline-block;
}

.comment-input-stars {
  margin-right: 10px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.comment-input-star {
  padding: 2px;
}

.checked {
  color: orange;
}

/* RELATED PRODUCTS */
#related-products-heading {
  margin: 0px;
}

#related-products-container {
  margin-top: 3%;
  width: 70%;
  border: solid 4px gold;
}

.related-product {
  display: inline-block;
  border: solid 1px lightgray;
  border-radius: 3%;
  margin-left: 2%;
  margin-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

.related-product:hover {
  background-color: rgb(238, 236, 236);
}

.related-product-name {
  margin: 0px;
}

.related-product-image {
  width: 100px;
}
